body {
  font-family: "Inter", sans-serif;
}

.v-field__append-inner .v-icon {
  transition: transform 0.25s ease, opacity 0.2s ease;
}

.v-field__append-inner .v-icon:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}